<h1>The Summoner Id is:</h1>
       {{#each this}}
            <div class="row">
       {{riot.name}}
            </div>
        {{/each}}
<form action="http://52.25.198.76:3000/">
    <input type="submit" value="Go back">
</form>

