
<div>
  <form action="http://52.25.198.76:3000/summonerid" method="GET">
   <legend><h2>Enter a summoner name</h2></legend>
  <label for="user">Summoner Name</label>
  <input type="text" name="user" id="user">
  <input type="submit" name="summonerid" value="Get Summoner Id">
  </form>
<p>
  <form action="http://52.25.198.76:3000/recentgames" method="GET">
  <legend><h2></h2>Enter a region and Summoner ID</h2></legend>
  <label for="region">Region</label>
  <input type="text" name="region" id="region"> 
  <label for="userid">Summoner ID</label>
  <input type="text" name="userid" id="userid">
  <input type="submit" name="recent_games" value="Get Recent games">
  </p></form>
</div>

