
<div class="entry">
  <form action="http://52.25.198.76:3000/recentgames" method="GET">
  <input type="text" name="userid" id="userid">
  <input type="submit" name="userid" value="Get Recent games">
  </form>
</div>
