<div class="entry">
  <h1>User Information</h1>
  <form action="http://52.25.198.76:3000/summonerid" method="GET">
  <input type="text" name="user" id="summonerusername">
  <input type="submit" name="user" value="Get User ID">
  </form>
</div>
