
<div class="entry">
  <form action="http://52.25.198.76:3000/summonerid" method="GET">
    <legend>Enter a summoner name</legend>
  <input type="text" name="user" id="summonerid">
  <input type="submit" name="summonerid" value="Get Summoner Id">
  </form>
</div>

<div class="entry">
  <form action="http://52.25.198.76:3000/recentgames" method="GET">
  <legend>Enter a region and Summoner ID</legend>
  <input type="text" name="region" id="game_region"> 
  <input type="text" name="userid" id="summonerid">
  <input type="submit" name="summonerid" value="Get Recent games">
  </form>
</div>

