 {{! Found help in the Piazza posts. "type" will be populated based on which express.js function was called. }}
<h1>You sent the following data in a {{type}} request:</h1>
<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
