<h1>Recent games:</h1>
            <div class="row">
       {{games.gameMode}}
            </div>
        {{/each}}
<form action="http://52.25.198.76:3000/">
    <input type="submit" value="Go back">
</form>
