<h1>The Summoner Id is:</h1>
<pre>{{riot}}</pre>
<body>
 riot.id
 <span>User Id: </span>{{riot.id}}</span>
  <span>User Id: </span>{{{riot.id}}}</span>
   <span>User Id: </span>{{riot.main.id}}</span>
</body>
